Congestion Control in Multicast Transport Properties section

Write up a brief explanation of congestion control in multicast (with mention of security and trust of receivers), include a reference to [RFC 8085, Section 4](https://datatracker.ietf.org/doc/html/rfc8085#section-4) and maybe to https://www.youtube.com/watch?v=rzvVHYtSn4s&t=6m24s / https://datatracker.ietf.org/meeting/97/materials/slides-97-mboned-draft-jholland-cb-assisted-cc